# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
csv_path = "weather_data.csv"
weather_data= pd.read_csv(csv_path)
weather_data.head()

,City,Lat,Lon,Max Temp,Humidity,Wind Speed,Country,Date,Clouds
0,sao joao da barra,-21.64,-41.05,80.60,65,9.17,BR,1580076765,35
1,kavieng,-2.57,150.80,83.16,74,5.46,PG,1580076765,0
2,rikitea,-23.12,-134.97,78.87,79,13.20,PF,1580076658,0
3,hasaki,35.73,140.83,39.20,64,10.29,JP,1580076766,75
4,ilulissat,69.22,-51.10,8.60,60,1.12,GL,1580076766,91

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key=g_key)

fig=gmaps.figure()

In [6]:
locations = weather_data[["Lat","Lon"]].astype(float)
humidity_map = weather_data["Humidity"].astype(float)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity_map, dissipating=False, max_intensity=100, point_radius=1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [33]:
weather_data = weather_data[weather_data['Clouds']<=0]
weather_data = weather_data[weather_data['Max Temp']<=80]
weather_data = weather_data[weather_data['Max Temp']>=70]
weather_data = weather_data[weather_data['Wind Speed'] <=10]
weather_data.dropna()

,City,Lat,Lon,Max Temp,Humidity,Wind Speed,Country,Date,Clouds
33,castro,-24.79,-50.01,79.25,48,0.81,BR,1580076690,0
80,pouebo,-20.40,164.57,77.67,71,6.15,NC,1580076778,0
175,yulara,-25.24,130.99,71.60,24,6.93,AU,1580076795,0
250,hwange,-18.37,26.50,70.61,81,0.83,ZW,1580076808,0
257,lakes entrance,-37.88,147.98,70.00,72,1.01,AU,1580076750,0
438,namibe,-15.20,12.15,75.06,77,8.30,AO,1580076838,0
457,taoudenni,22.68,-3.98,75.69,22,9.98,ML,1580076635,0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [30]:
hotel_names =[]
hotel_lat =[]
hotel_lng =[]
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

for index, row in weather_data.iterrows():
    lat = row["Lat"]
    lng = row["Lon"]
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   
    response = requests.get(base_url, params=params)
    response = response.json()
    results = response["results"]
    
    try:
        hotel_names.append(results[0]["name"])
        hotel_lat.append(results[0]['geometry']["location"]['lat'])
        hotel_lng.append(results[0]['geometry']["location"]['lng'])
    except (KeyError,IndexError):
        hotel_names.append("N/A")
        hotel_lat.append("N/A")
        hotel_lng.append("N/A")

In [36]:
hotel_names

['Pousada Rota Dos Tropeiros',
 'N/A',
 'Sails in the Desert',
 'Baobab Hotel',
 'Central Hotel',
 'Hotel ibis Styles Iu Namibe',
 'N/A']

In [40]:
weather_data['Hotel Name'] = hotel_names
weather_data['Hotel Lat'] = hotel_lat
weather_data['Hotel Lon'] = hotel_lng
weather_data.head()

,City,Lat,Lon,Max Temp,Humidity,Wind Speed,Country,Date,Clouds,Hotel Name,Hotel Lat,Hotel Lon
33,castro,-24.79,-50.01,79.25,48,0.81,BR,1580076690,0,Pousada Rota Dos Tropeiros,-24.784,-50.006
80,pouebo,-20.40,164.57,77.67,71,6.15,NC,1580076778,0,N/A,N/A,N/A
175,yulara,-25.24,130.99,71.60,24,6.93,AU,1580076795,0,Sails in the Desert,-25.239,130.983
250,hwange,-18.37,26.50,70.61,81,0.83,ZW,1580076808,0,Baobab Hotel,-18.3441,26.5036
257,lakes entrance,-37.88,147.98,70.00,72,1.01,AU,1580076750,0,Central Hotel,-37.8812,147.985

In [48]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in weather_data.iterrows()]
locations = weather_data[["Lat", "Lon"]]

In [49]:
markers_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers_layer)
fig

Figure(layout=FigureLayout(height='420px'))